{% extends 'base.html.twig' %}

{% block title %}Hello WerbungController!{% endblock %}

{% block body %}
<style>
    .werbung-show {
        height: 750px;
    }

    .werbung-show .werbung-nr {
        font-size: 100px;
    }
    .werbung-show .no-image, .werbung-show .screen
    {
        font-size: 50px;
    }
    .werbung-show .werbung-description, .werbung-show .screen-title, .werbung-show .werbung-title {
        font-size: 50px;
          color: #00a499;
    }
    .werbung-show .werbung-price, .werbung-show .video-length{
        font-size: 50px;
        color: #00a499;
    }


    .werbung-show .werbung,
    .werbung-show .image,
    .werbung-show .video {
        border: 2px solid #820263;
    }
     .werbung-show .image img{
        width:100%;
        height:300px;
     }

    .werbung-show .btn-update {
        background-color: #820263;
        color: white;
        font-size: 50px;
    }

    .werbung-show .btn-delete {
        background-color: #ffbf3f;
        color: white;
        font-size: 50px;
    }

    .werbung-show video {
        width: -webkit-fill-available;
    }
</style>

<div class="werbung-show p-5">
    <div class="message">
        {% if data.message is defined and data.message is not empty %}
        {% if data.success is true %}
        <div class="text-success w-100 text-center">{{ data.message}}</div>
        {% else %}
        <div class="text-danger w-100 text-center">{{ data.message}}</div>
        {% endif %}
        {% endif %}
    </div>
    {% for werbung in werbungen %}
    <div class="werbung row card mb-4 p-5">
        <h1 class="text-center col-md-12 werbung-nr">Werbung-Nr.{{werbung.nr}}</h1>
        <div class="image-video row">
            <div class="col-6 image">
                {% if werbung.image is not empty %}
                <div><img src="/file/werbung/{{ werbung.image }}"></div>
                {% else %}
                <div>
                    <p class="no-image">NO Image</p>
                </div>
                {% endif %}
            </div>
            <div class="col-6 video">
                <div>
                    {% if werbung.video is not empty %}
                    <video controls>
                        <source src="/file/werbung/{{ werbung.video }}" type="video/mp4">
                    </video>
                    <div class="length col-md-6 "><p class="video-length">{{werbung.length}}s</p></div>
                    {% else %}
                    <div>
                        <p>NO Video</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><h2 class="werbung-title">{{werbung.title}}</h2></div>
            {% if werbung.price is not empty %}
            <div class="col-md-6 text-end"><h2 class="werbung-price">{{werbung.price}}€</h2></div>
            {% endif %}
        </div>
        <div class="col-md-12 text-center">
            <p class="werbung-description">{{werbung.description}}</p>
        </div>
        <div class="screens col-md-12">
            <h2 class="screen">Screens:</h2>
            {% for screen in werbung.screens %}
            <h2 class="screen-title">-{{screen.title}}
            </h2>
            {% endfor %}
        </div>
        <div class="btns row">
            <div class="col-md-6">
                <a href="/user/werbung/edit/{{ werbung.id }}" class="btn btn-update w-75">تحديث</a>
            </div>
            <div class="col-md-6 text-end">
                <a href="/user/werbung/delete/{{ werbung.id }}" class="btn btn-delete w-75">مسح</a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}
